#root {
  max-width: 100%;
}

body {
  width: 100%;
}

.image {
  width: 75px;
}

@font-face {
  font-family: 'iranyekan';
  src: url("./assets/fonts/Yekan.woff");
}

@font-face {
  font-family: 'vazir';
  src: url("./assets/fonts/Vazir-Bold-FD-WOL.woff");
}


* {
  font-family: 'vazir' !important;
}

.more-button {
  width: 60px;
  height: 60px;
}